body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-article {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: calc(50px + 2vmin);
  color: white;
}

h2 {
  font-size: calc(30px + 2vmin);
  color: white;
}

p {
  font-size: calc(8px + 2vmin);
  color: white;
}

.body-input {
  font-size: calc(1px + 2vmin);
  width: 600px;
  height: 500%;
}

.App-footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  font-size: xx-small;
}